.env
# exclude everything
application/*
.idea/*

# exception to the rule
!application/.gitkeep

/.vscode/settings.json

# AI Local helper
AGENTS.md
GEMINI.md
delphi-ai
foundation_documentation
flutter-app-latest/
gemini_memory.md
